<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <title>Scooters</title>
</head>
<body>
<form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post"><button type="submit">Log out</button> </form>
<form sec:authorize="!isAuthenticated()" th:action="@{/users}" method="post"><button type="submit">Registration</button> </form>
<form sec:authorize="isAuthenticated()" th:action="@{/login}" method="post"><button type="submit">Log in</button> </form>


<div class="container">
    <table class="table table-hover">
        <thead>
        <th>City</th>
        <th>Id</th>
        <th>rented</th>
        <th>Date rented</th>
        <th>Change city</th>
        <th>Delete</th>


        </thead>
        <tbody>
        <tr th:each="scooter: ${scooters}">
            <td th:text="${scooter.city.name}"></td>
            <td th:text="${scooter.id}">Id</td>
            <td th:text="${scooter.rented}">rented</td>
            <!--<td th:if="${!scooter.rented}"></td>-->
            <td th:if="${scooter.dateTimeRented != null}" th:text="${scooter.dateTimeRented}"></td>
            <td th:if="${scooter.dateTimeRented == null}"></td>
            <td><a class="btn btn-warning" th:href="@{/admin/scooter/editScooter/{scooterId}(scooterId=${scooter.id})}">Change</a></td>
            <td><a class="btn btn-danger" th:href="@{/admin/scooter/deleteScooter/{scooterId}(scooterId=${scooter.id})}">Delete</a></td>

        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" th:href="@{/admin/scooter/addScooter}">Add new scooter</a>
    <a class="btn btn-info" th:href="@{/admin}">Cities</a>
</div>
</body>
</html>