<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <title>Cities</title>
</head>
<body>
<form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post"><button type="submit">Logout</button> </form>
<form sec:authorize="!isAuthenticated()" th:action="@{/users}" method="post"><button type="submit">Registration</button> </form>
<div class="container">
<table class="table table-hover">
    <thead>
    <!--<th>Id</th>-->
    <th>Name</th>
    <th>Edit</th>
    <th>Delete</th>

    </thead>
    <tbody>
    <tr th:each="city: ${cities}">
        <!--<td th:text="${city.id}">Id</td>-->
        <td><a class="btn btn-link" th:text="${city.name}" th:href="@{admin/city/{cityId}(cityId=${city.id})}"></a></td>
        <td><a class="btn btn-warning" th:href="@{/admin/editCity/{cityId}(cityId=${city.id})}">Edit</a></td>
        <td><a class="btn btn-danger" th:href="@{/admin/deleteCity/{cityId}(cityId=${city.id})}">Delete</a></td>

    </tr>
    </tbody>
</table>
    <a class="btn btn-primary" th:href="@{/admin/addCity}">Add new city</a>
    <a class="btn btn-info" th:href="@{/admin/scooter}">Show all scooters</a>
    <a class="btn btn-info" th:href="@{/admin/rents}">Show all rents</a>
    <a class="btn btn-info" th:href="@{/admin/users}">Show all users</a>
</div>
</body>
</html>