<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <title>Cities</title>

</head>
<body>
<form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post"><button type="submit">Log out</button> </form>
<form sec:authorize="!isAuthenticated()" th:action="@{/users}" method="get"><button type="submit">Registration</button> </form>
<form sec:authorize="!isAuthenticated()" th:action="@{/loginForm}" method="get"><button type="submit">Log in</button> </form>

<div class="container">

    <table class="table table-hover">

        <tbody>
        <tr th:each="city: ${cities}">

            <td><a class="btn btn-primary" th:text="${city.name}" th:href="@{user/city/{cityId}(cityId=${city.id})}"></a></td>


        </tr>
        </tbody>
    </table>

</div>
</body>
</html>