<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <title>Scooters</title>
</head>
<body>
<form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post"><button type="submit">Logout</button> </form>
<form sec:authorize="!isAuthenticated()" th:action="@{/users}" method="post"><button type="submit">Registration</button> </form>

<div class="container">
    <!--<h1 th:text="${cityName}">City</h1>-->

    <table class="table table-hover">
        <thead>

        <th>Id</th>
        <th>Scooter Id</th>
        <th>City</th>
        <th>Date rent</th>
        <th>Date return</th>
        <th>Profit</th>



        </thead>
        <tbody>
        <tr th:each="rent: ${rents}">

            <td th:text="${rent.id}">Id</td>
            <td th:text="${rent.scooter.id}">rented</td>
            <td th:text="${rent.scooter.city.name}">rented</td>
            <td th:text="${rent.startRent}">rented</td>
            <td th:text="${rent.finishRent}">rented</td>
            <td th:text="${rent.profit}">rented</td>


            <td><a class="btn btn-danger" th:href="@{/admin/rents/deleteRent/{rentId}(rentId=${rent.id})}">Delete</a></td>

        </tr>
        </tbody>
    </table>

    <a class="btn btn-info" th:href="@{/admin}">Cities</a>
</div>
</body>
</html>