<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <title>Scooters</title>
</head>
<body>
<form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post"><button type="submit">Logout</button> </form>


<div class="container">


    <table class="table table-hover">
        <thead>

        <th>Id</th>
        <th>Login</th>
        <th>Password</th>



        </thead>
        <tbody>
        <tr th:each="users: ${listUsers}">

            <td th:text="${users.id}">Id</td>
            <td th:text="${users.login}">login</td>
            <td th:text="${users.password}">password</td>



            <!--<td><a class="btn btn-danger" th:href="@{/admin/city/{cityId}/deleteScooter/{scooterId}(scooterId=${scooter.id}, cityId=${cityId})}">Delete</a></td>-->

        </tr>
        </tbody>
    </table>

    <a class="btn btn-info" th:href="@{/admin}">Cities</a>
</div>
</body>
</html>