<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>

    <title>not exist</title>
</head>
<body>
<div class="alert alert-danger">
    <strong>Warning!</strong> The city does not exist!!!
    <a class="btn btn-primary" th:href="@{/admin}">Go back</a>
</div>
</body>
</html>