<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <title>Cities</title>
</head>
<body>
<div class="container">
    <table class="table table-hover">

        <tbody>
        <tr>

            <td><a class="btn btn-success" th:href="@{/user/city/{cityId}/toRent(cityId=*{cityId})}">To rent scooter</a></td>
            <!--<td><a class="btn btn-primary" th:href="@{user/city/Return}">Return</a></td>-->

        </tr>
        </tbody>
    </table>

</div>
</body>
</html>